<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dyz.dao.MCompanyBeanMapper" >
  <resultMap id="BaseResultMap" type="com.dyz.entity.MCompanyBean" >
    <id column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="company_nm" property="companyNm" jdbcType="VARCHAR" />
    <result column="company_abb" property="companyAbb" jdbcType="VARCHAR" />
    <result column="company_kind_id" property="companyKindId" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="deleted_by" property="deletedBy" jdbcType="VARCHAR" />
    <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP" />
    <result column="exclusion_version" property="exclusionVersion" jdbcType="INTEGER" />
    <result column="del_flg" property="delFlg" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    company_id, company_nm, company_abb, company_kind_id, created_by, created_at, updated_by, 
    updated_at, deleted_by, deleted_at, exclusion_version, del_flg
  </sql>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    company_nm
    from m_company
    where company_id = #{companyId,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from m_company
    where company_id = #{companyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from m_company
    where company_id = #{companyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dyz.entity.MCompanyBean" >
    insert into m_company (company_id, company_nm, company_abb, 
      company_kind_id, created_by, created_at, 
      updated_by, updated_at, deleted_by, 
      deleted_at, exclusion_version, del_flg
      )
    values (#{companyId,jdbcType=VARCHAR}, #{companyNm,jdbcType=VARCHAR}, #{companyAbb,jdbcType=VARCHAR}, 
      #{companyKindId,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR}, #{updatedAt,jdbcType=TIMESTAMP}, #{deletedBy,jdbcType=VARCHAR}, 
      #{deletedAt,jdbcType=TIMESTAMP}, #{exclusionVersion,jdbcType=INTEGER}, #{delFlg,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dyz.entity.MCompanyBean" >
    insert into m_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="companyNm != null" >
        company_nm,
      </if>
      <if test="companyAbb != null" >
        company_abb,
      </if>
      <if test="companyKindId != null" >
        company_kind_id,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="deletedBy != null" >
        deleted_by,
      </if>
      <if test="deletedAt != null" >
        deleted_at,
      </if>
      <if test="exclusionVersion != null" >
        exclusion_version,
      </if>
      <if test="delFlg != null" >
        del_flg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyNm != null" >
        #{companyNm,jdbcType=VARCHAR},
      </if>
      <if test="companyAbb != null" >
        #{companyAbb,jdbcType=VARCHAR},
      </if>
      <if test="companyKindId != null" >
        #{companyKindId,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedBy != null" >
        #{deletedBy,jdbcType=VARCHAR},
      </if>
      <if test="deletedAt != null" >
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="exclusionVersion != null" >
        #{exclusionVersion,jdbcType=INTEGER},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dyz.entity.MCompanyBean" >
    update m_company
    <set >
      <if test="companyNm != null" >
        company_nm = #{companyNm,jdbcType=VARCHAR},
      </if>
      <if test="companyAbb != null" >
        company_abb = #{companyAbb,jdbcType=VARCHAR},
      </if>
      <if test="companyKindId != null" >
        company_kind_id = #{companyKindId,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedBy != null" >
        deleted_by = #{deletedBy,jdbcType=VARCHAR},
      </if>
      <if test="deletedAt != null" >
        deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="exclusionVersion != null" >
        exclusion_version = #{exclusionVersion,jdbcType=INTEGER},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=BIT},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dyz.entity.MCompanyBean" >
    update m_company
    set company_nm = #{companyNm,jdbcType=VARCHAR},
      company_abb = #{companyAbb,jdbcType=VARCHAR},
      company_kind_id = #{companyKindId,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      deleted_by = #{deletedBy,jdbcType=VARCHAR},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      exclusion_version = #{exclusionVersion,jdbcType=INTEGER},
      del_flg = #{delFlg,jdbcType=BIT}
    where company_id = #{companyId,jdbcType=VARCHAR}
  </update>
</mapper>