<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dyz.dao.PasswordResetsBeanMapper" >
  <resultMap id="BaseResultMap" type="com.dyz.entity.PasswordResetsBean" >
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.dyz.entity.PasswordResetsBean" >
    insert into password_resets (email, token, created_at
      )
    values (#{email,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dyz.entity.PasswordResetsBean" >
    insert into password_resets
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="email != null" >
        email,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>